.App {
  top: 10%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color:linear-gradient(yellow,green)
}
h1 {
  color: rgba(216, 21, 60);
}
.ToDoForm {
  border: 3px solid rebeccapurple;
  padding: 10px;
  width: 50%;
  font-weight: bolder;
  margin-left: 23%;
}
.Submit {
  margin: 10px;
  padding: 5px;
  border-color: red;
  background-color: red;
  color: white;
}
input {
  padding: 5px;
  width: 75%;
}
.Submit:hover {
  border-color: green;
  background-color: green;
}
.TaskList {
  margin: 10px;
  padding: 10px;
  background-color: lightgreen;
  color: darkblue;
}
.Clear {
  display: inline-flex;
  float: right;
  border-color: red;
  background-color: red;
  color: white;
}
.Checkbox{
  width: 5%;
  margin: 10px;
  border: 1px solid red;
}
label{
  color: red;
  font-size: 20px;
  font-weight: lighter;
}
